
.wrapper {
  position:relative;
  height: 300px;
  width:500px;
  border:2px steelblue dotted;
}

.playerBox {
  position:absolute;
  height:30px;
  width: 30px;
  border-left: 5px solid #07C3F7;
  border-top: 5px solid lightpink;
  border-right: 5px solid gold;
  border-bottom:5px solid springgreen;
}

.fieldBox {
  position:absolute;
  border: 5px solid ;

}



