body{
  background-color: black;
}
.wrapper {
  position:relative;
  height: 300px;
  width:500px;
  border:2px steelblue dotted;
  margin:0 auto;
  padding:0;
  background-color: white;


}

.playerBox {
  position:absolute;
  height:30px;
  width: 30px;
  border-left: 5px solid #07C3F7;
  border-top: 5px solid lightpink;
  border-right: 5px solid gold;
  border-bottom:5px solid springgreen;
}

.fieldBox {
  position:absolute;
  border: 5px solid ;

}

.win {
  background-color: #07C3F7;
  border:0;
}

.lose {
  background-color: black;
  border: 0;
}

header {
  position:relative;
  height:250px;
  text-align: center;
  background-color: steelblue;
  line-height: 250px;
}


  h1 {
  margin:0 0 0 0;
  display: inline-block;
  font-size: 72px;
  font-family: 'Baloo Thambi', cursive;
  margin-bottom: 100px;

}
h1::first-letter {
  color:lightpink;
}
nav {
  font-size: 25px;
  color:#07C3F7;
  text-align: center;
  padding:25px;

}
p {
  margin: 0;
  color: gold;
  text-align: center;
  font-size: 30px;
  margin-left: 10%;
}
button {
  position:absolute;
  margin-left:35%;
  margin-top: 5%;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightpink;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px steelblue;
}
button:active {
  background-color: #f78082;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.winner {
  position: relative;
  border-radius:10%;
  background-color: grey;
  display: none;
  height:500px;
  width:540px;
  position: absolute;
  margin-top: -25%;
  margin-left: -5%;
  z-index: 1;
}

.loser {
  position: relative;
  border-radius:10%;
  background-color: grey;
  display: none;
  height:500px;
  width:540px;
  position: absolute;
  margin-top: -25%;
  margin-left: -5%;
  z-index: 1;
}

h3{
  font-size: 30px;
}

/*the following css is for the timer plugin, available
@ https://github.com/caike/jQuery-Simple-Timer*/
.timer, .timer-done, .timer-loop {
    font-size: 30px;
    color: gold;
    font-weight: bold;
    padding: 10px;
  }

  .jst-hours {
    float: left;
    visibility: hidden;

  }
  .jst-minutes {
    float: left;
    visibility: hidden;

  }
  .jst-seconds {
    /*float: left;*/
    text-align: center;
  }
  .jst-clearDiv {
    clear: both;
  }
  .jst-timeout {
    color: red;
  }


